{% extends "layout.html" %}

{% block body %}
  <table cellpadding="8">
    <tr>
      <th>Course name</th>
      <th>Grade</th>
      <th>Starting date</th>
      <th>Completion date</th>
      <th>Do the prequisites meet?</th>
    </tr>
    {% for coursecompletion in coursecompletions %}
    <tr>
      <td align="center">{{ coursecompletion.name }}</td>
      <td align="center">{{ coursecompletion.grade }}</td>
      <td align="center">{{ coursecompletion.startingdate }}</td>
      <td align="center">{{ coursecompletion.completiondate }}</td>
      {% if coursecompletion.prequisitesmeet %}
      <td align="center" style="color:green;">All good :)</td>
      {% else %}
      <td align="center" style="color:red;">Not so good :(</td>
      {% endif %}
      <td>
	    <form method="POST" action="{{ url_for('coursecompletions_changegrade', coursecompletion_id=coursecompletion.id) }}">
        <input type="submit" value="Lower the expected grade by 1"/>
      </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('coursecompletions_delete', coursecompletion_id=coursecompletion.id) }}">
          <input type="submit" value="Remove scheduled course"/>
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td>
        <h1 class="lead">You have scheduled <b>{{ count_completions }}</b> courses in total with an average grade of <b>{{ grade_average }}</b> !</h1>
      </td>
    </tr>
  </table>
{% endblock %}
