{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Course name</th>
      <th>Study points</th>
      <th></th>
    </tr>
    {% for coursecompletion in coursecompletions %}
    <tr>
      <td>{{ coursecompletion.name }}</td>
      <td>{{ coursecompletion.grade }}</td>
      <td>
	<form method="POST" action="{{ url_for('coursecompletions_set_done', coursecompletion_id=coursecompletion.id) }}">
	  <input type="submit" value="Change ID to 0"/>
	</form>
      </td>
    <td>
    <form method="POST" action="{{ url_for('coursecompletions_delete', coursecompletion_id=coursecompletion.id) }}">
      <input type="submit" value="Remove CourseCompletion"/>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
