{% extends "layout.html"%}

{% block body %}

<form method="POST" action="{{ url_for('coursecompletions_create') }}">
  <table>
    <tr> 
      {{form.course_id.label}}{{form.course_id}}
      <ul>
        {% for error in form.course_id.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </tr>
    <tr>
      <td>
        {{ form.grade.label }}
      </td>
      <td>
        {{ form.grade }}
      </td>
    <tr>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Schedule a course"/>
      </td>
    </tr>
</form>
{% endblock %}
