{% extends "layout.html"%}

{% block body %}

<form method="POST" action="{{ url_for('coursecompletions_create') }}">
  <table>
    <tr>
      <td>
        {{form.course_id.label}}
      </td>
      <td>
      {{form.course_id}}
      </td>
    </tr>
    <tr>
      <ul>
        {% for error in form.grade.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      <td>
        {{ form.grade.label }}
      </td>
      <td>
        {{ form.grade }}
      </td>
    </tr>
    <tr>
      <td>
        {{form.startingdate.label}}
      </td>
      <td>
      {{form.startingdate}}
      </td>
    </tr>
    <tr>
      <td>
        {{form.completiondate.label}}
      </td>
      <td>
      {{form.completiondate}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Schedule a course"/>
      </td>
    </tr>
</form>
{% endblock %}
