{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Student's name</th>
      <th>Student ID number</th>
      <th></th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.coursenumber }}</td>
      <td>
	<form method="POST" action="{{ url_for('courses_set_done', course_id=course.id) }}">
	  <input type="submit" value="Change ID to 0"/>
	</form>
      </td>
    <td>
    <form method="POST" action="{{ url_for('courses_delete', course=course.id) }}">
      <input type="submit" value="Remove student"/>
    </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
